<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
    <meta name="description" content="Beauty Salon - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords" content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <link href="../../../../assets/client/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../assets/client/css/style.css">
    <link rel="stylesheet" href="../../../../assets/client/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../assets/client/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../../../../assets/client/css/animsition.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7cLibre+Baskerville:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="logo">
                        <a href="#"><img src="../../../../assets/client/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="call-block">
                                <h3 class="call-no">+261 20 22 120 10</h3>
                                <p class="call-text">Pour plus d'informations</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="time-block">
                                <h3 class="time">Lun-Sam : 07h-19h</h3>
                                <p class="call-text">Heure d'ouverture</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="time-block">
                                <h3 class="time"><i class='fa fa-circle' style='font-size: 12px; color:#31A24C'></i>&nbsp;{{ client.nom }}</h3>
                                <p class="call-text">{{ client.email }}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="top-btn"> <a routerLink="/client_booking" class="btn btn-default">Rendez-vous en
                                    ligne</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navigation -->
    <div class="navigation-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="navigation" id="navigation">
                        <ul>
                            <li class="active"><a routerLink="/client_homepage" class="animsition-link">Homepage</a>
                            </li>
                            <li class="active"><a routerLink="/client_special_offers" class="animsition-link">Offres
                                    speciales</a></li>
                            <li class="active"><a routerLink="/client_booking" class="animsition-link">Reservation</a>
                            </li>
                            <li class="active"><a routerLink="/client_appointment_history" class="animsition-link">Historique des rendez-vous</a></li>
                            <li class="active"><a routerLink="/client_preference" class="animsition-link">Preferences</a></li>
                            <li class="active"><a routerLink="/client_logout" class="animsition-link">Deconnexion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header page-caption">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="page-title">Historique des rendez-vous</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">

                <div *ngIf="isLoading | async" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10" style="display: flex; justify-content: center; align-items: center;">
                    <i class="fa fa-circle-o-notch fa-spin" style="font-size:50px; color: #D92569;"></i>
                </div>
                <div *ngFor="let historique of historiques" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-holder mb30">
                        <div class="post-content pinside30 outline">
                            <div class="mb5">
                                <div class="meta">
                                    Debut: <span class="meta-date">{{ historique.rdv.dateHeureDebut | date:'medium' }}</span> Fin: <span class="meta-date">{{ historique.rdv.dateHeureFin | date:'medium' }}</span> Etat: <span class="meta-date">{{ historique.rdv.etatFini ? 'Fini' : 'Pas encore fini' }}</span>                                    Montant:
                                    <span class="meta-date">{{ historique.rdv.datePayement ? historique.rdv.montantTotalPaye + 'Ar payé le ' + (historique.rdv.datePayement | date:'medium') : historique.rdv.montantTotalPaye + 'Ar à payer' }} &nbsp; <button *ngIf="!historique.rdv.datePayement" class="btn btn-primary btn-sm" (click)="pay(historique.rdv._idRdv)">Payer</button></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <h4 class="comments-title">Employé responsable</h4>
                                    <div class="comments-area">
                                        <div class="comment-body">
                                            <div class="">
                                                <div class="comment-author"><img src="../../../../assets/client/images/user1.jpg" alt="" class="img-circle"> </div>
                                                <div class="comment-info">
                                                    <div class="comment-header">
                                                        <h4 class="user-title mb10">{{ historique.employe.nom }}</h4>
                                                        <div class="comment-meta"><span class="comment-meta-date">{{ historique.employe.email }}</span></div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>En travail, de {{ historique.employe.horaireDebut }} jusqu'à {{ historique.employe.horaireFin }}</p>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <h4 class="comments-title">Services correspondates</h4>
                                    <div class="comments-area">
                                        <ul class="comment-list listnone">
                                            <li *ngFor="let h_service of historique.services" class="comment">
                                                <div class="comment-body">
                                                    <div class="">
                                                        <div class="comment-author"><img src="../../../../assets/client/images/user1.jpg" alt="" class="img-responsive"> </div>
                                                        <div class="comment-info">
                                                            <div class="comment-header">
                                                                <h4 class="user-title mb10">{{ h_service.service.description }} <span class="comment-meta-date">( {{ h_service.service.dureeMinute }}min )</span></h4>
                                                                <div class="comment-meta mb10">Prix normal: {{ h_service.rdvservice.prixNormal }}Ar | après remise: {{ h_service.rdvservice.prixApresRemise }}Ar</div>
                                                                <div *ngIf="h_service.offrespeciale !== null">
                                                                    <h4 class="comments-title">Détails de la remise</h4>
                                                                    <div class="comment-meta">Date debut: {{ h_service.offrespeciale.dateDebut | date:'medium' }}</div>
                                                                    <div class="comment-meta">Date fin: {{ h_service.offrespeciale.dateFin | date:'medium' }}</div>
                                                                    <div class="comment-meta">Description: {{ h_service.offrespeciale.description }}</div>
                                                                    <div class="comment-meta">Remise: -{{ h_service.offrespeciale.pourcentageRemise * 100 }}%</div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="footer-widget bg-white pinside30 mb30 ">
                        <div class="logo mb30 ">
                            <a href="images/logo.png "><img src="../../../../assets/client/images/logo.png " class="img-responsive " alt=" "></a>
                        </div>
                        <p class="mb30">Bien plus qu'un salon, une parenthèse de bien-être et de beauté</p>
                        <div class="footer-social "><a href="# "><i class="fa fa-twitter "></i></a><a href="# "><i
                                    class="fa fa-facebook "></i></a><a href="# "><i class="fa fa-google-plus "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget footer-contact ">
                        <h2 class="footer-title ">Contact</h2>
                        <ul class="listnone ">
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-phone "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="call-no "><a href="contact.html ">+261 20 22 120 10</a></h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-envelope-o "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="mail-text "><a href="contact.html ">beautysalon&#64;gmail.com</a>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-clock-o "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="time-text "><a href="contact.html ">Mon-Sam : 07h-19h</a></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget ">
                        <h2 class="footer-title ">Liens rapides</h2>
                        <ul class="listnone ">
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_homepage">Homepage</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_special_offers">Offres speciales</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_booking">Reservation</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_appointment_history">Historique
                                    des rendez-vous</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_preference">Preferences</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiny-footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Team: <a href="#">RAKOTOARISOA Jean
                        Etienne</a> | <a href="#">RANARIVELO Hubert Hery Nantenaina</a></div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
    <script src="../../../../assets/client/js/jquery.min.js "></script>
    <script src="../../../../assets/client/js/bootstrap.min.js "></script>
    <script src="../../../../assets/client/js/menumaker.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/jquery.sticky.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/sticky-header.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/animsition.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/animsition-script.js "></script>
    <script src="../../../../assets/client/js/back-to-top.js " type="text/javascript "></script>
</body>

</html>