<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
    <meta name="description"
        content="Beauty Salon - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords"
        content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <link href="../../../../assets/client/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../assets/client/css/style.css">
    <link rel="stylesheet" href="../../../../assets/client/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../assets/client/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../../../../assets/client/css/animsition.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7cLibre+Baskerville:400,400i,700"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="logo">
                        <a href="#"><img src="../../../../assets/client/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="call-block">
                                <h3 class="call-no">+261 20 22 120 10</h3>
                                <p class="call-text">Pour plus d'informations</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="time-block">
                                <h3 class="time">Lun-Sam : 07h-19h</h3>
                                <p class="call-text">Heure d'ouverture</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="time-block">
                                <h3 class="time"><i class='fa fa-circle'
                                        style='font-size: 12px; color:#31A24C'></i>&nbsp;{{ client.nom }}</h3>
                                <p class="call-text">{{ client.email }}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="top-btn"> <a routerLink="/client_booking" class="btn btn-default">Rendez-vous en
                                    ligne</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navigation -->
    <div class="navigation-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="navigation" id="navigation">
                        <ul>
                            <li class="active"><a routerLink="/client_homepage" class="animsition-link">Homepage</a>
                            </li>
                            <li class="active"><a routerLink="/client_special_offers" class="animsition-link">Offres
                                    speciales</a></li>
                            <li class="active"><a routerLink="/client_booking" class="animsition-link">Reservation</a>
                            </li>
                            <li class="active"><a routerLink="/client_appointment_history"
                                    class="animsition-link">Historique des rendez-vous</a></li>
                            <li class="active"><a routerLink="/client_preference"
                                    class="animsition-link">Preferences</a></li>
                            <li class="active"><a routerLink="/client_logout" class="animsition-link">Deconnexion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header page-caption">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="page-title">Reservation de rendez-vous</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="space-medium ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outline pinside40 ">
                    <div class="row ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <h3>Choix de date & heure</h3>
                        </div>
                    </div>
                    <div class="row ">
                        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
                                <div class="form-group">
                                    <input type="date" class="form-control" formControlName="dateDebut" required>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                <div class="form-group ">
                                    <input type="time" formControlName="heureDebut" class="form-control" required>
                                </div>
                            </div>
                            &nbsp;
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <h3>Choix d'employé responsable</h3>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                                <div class="row">
                                    <div *ngFor="let employe of employes" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="text-center">
                                            <input type="radio" class="form-control" id="{{ employe.idEmploye }}" formControlName="idEmploye" value="{{ employe.idEmploye }}"> {{ employe.nom }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3>Choix de services</h3>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex align-items-right mb30">
                                <div class="row">
                                    <div cdkDropListGroup>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h4 style="color: #D92569;">Services disponibles</h4>
                                            <div cdkDropList [cdkDropListData]="todo" class="example-list"
                                                (cdkDropListDropped)="drop($event)">
                                                @for (service of todo; track service) {
                                                <div class="example-box d-flex align-items-right" cdkDrag>
                                                    <h5>{{service["description"]}}</h5>
                                                    <h6>{{ service["dureeMinute"] }}min / {{ service["prix"] }}Ar</h6>
                                                </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h4 style="color: #D92569;">Services choisies</h4>
                                            <div cdkDropList [cdkDropListData]="done" class="example-list"
                                                (cdkDropListDropped)="drop($event)">
                                                @for (service of done; track service) {
                                                <div class="example-box d-flex align-items-right" cdkDrag>
                                                    <h5>{{service["description"]}}</h5>
                                                    <h6>{{ service["dureeMinute"] }}min / {{ service["prix"] }}Ar</h6>
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group ">
                                    <button type="submit" class="btn btn-default">Reserver</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="footer-widget bg-white pinside30 mb30 ">
                        <div class="logo mb30 ">
                            <a href="images/logo.png "><img src="../../../../assets/client/images/logo.png "
                                    class="img-responsive " alt=" "></a>
                        </div>
                        <p class="mb30">Bien plus qu'un salon, une parenthèse de bien-être et de beauté</p>
                        <div class="footer-social "><a href="# "><i class="fa fa-twitter "></i></a><a href="# "><i
                                    class="fa fa-facebook "></i></a><a href="# "><i class="fa fa-google-plus "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget footer-contact ">
                        <h2 class="footer-title ">Contact</h2>
                        <ul class="listnone ">
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-phone "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="call-no "><a href="contact.html ">+261 20 22 120 10</a></h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-envelope-o "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="mail-text "><a href="contact.html ">beautysalon&#64;gmail.com</a>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-clock-o "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="time-text "><a href="contact.html ">Mon-Sam : 07h-19h</a></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget ">
                        <h2 class="footer-title ">Liens rapides</h2>
                        <ul class="listnone ">
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_homepage">Homepage</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_special_offers">Offres
                                    speciales</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_booking">Reservation</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_appointment_history">Historique
                                    des rendez-vous</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_preference">Preferences</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiny-footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Team: <a href="#">RAKOTOARISOA Jean
                        Etienne</a> | <a href="#">RANARIVELO Hubert Hery Nantenaina</a></div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <script src="../../../../assets/client/js/jquery.min.js "></script>
    <script src="../../../../assets/client/js/bootstrap.min.js "></script>
    <script src="../../../../assets/client/js/menumaker.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/jquery.sticky.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/sticky-header.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/animsition.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/animsition-script.js "></script>
    <script src="../../../../assets/client/js/back-to-top.js " type="text/javascript "></script>
</body>

</html>