<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body>
    <h3>Client - Prise de rendez-vous</h3>
    <p>{{ client.nom }}</p>
    <p>{{ client.email }}</p>
    <img src='{{ client.pdp }}' alt="..." width="100px">
    <p>{{ client.telephone }}</p>
    <hr/>
    <h3>Reservation</h3>
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
        <label for="dateHeureDebut">Date et heure : &nbsp;</label>
        <input type="date" formControlName="dateDebut" required>&nbsp;<input type="time" formControlName="heureDebut" required>
        <br>
        <label for="idEmploye">Employé responsable : &nbsp;</label>
        <a *ngFor="let employe of employes">
            <input type="radio" id="{{ employe.idEmploye }}" formControlName="idEmploye" value="{{ employe.idEmploye }}">
            <label for="{{ employe.idEmploye }}">{{ employe.nom }}</label>
        </a>
        <br>
        <label for="idServices">Services : &nbsp;</label>
        <a *ngFor="let service of services; let i=index">
            <input type="checkbox" [value]="service._idService" (change)="onChange($event)">
            <label for="service{{ service._idService }}">{{ service.description }} ({{ service.prix }}Ar - {{ service.dureeMinute }}min)</label>
        </a>
        <br>
        <button type="submit">Reserver</button>
    </form>
    <hr/>

    <a routerLink="/client_booking">Reservation</a>&nbsp;
    <a routerLink="/client_appointment_history">Historique des rendez-vous</a>&nbsp;
    <a routerLink="/client_preference">Preferences</a>&nbsp;
    <a routerLink="/client_logout">Deconnecter</a>
    <router-outlet></router-outlet>
</body>

</html>