<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Barber</title>
  <meta name="description" content="">
  <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

  <!-- header-start -->
  <header>
    <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3">
              <div class="logo-img">
                <a href="index.html">
                  <img src="img/logo.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9">
              <div class="menu_wrap d-none d-lg-block">
                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                  <div class="main-menu">
                    <nav>
                      <ul id="navigation">
                        <li><a routerLink="/WelcomeManagerComponent">home</a></li>
                        <li><a routerLink="/OffreSpecialManagerComponent">Special Offer</a></li>
                        <li><li style="color: white;">Stats <i class="ti-angle-down"></i>
                          <ul class="submenu">
                            <li><a routerLink="/CountReservationDaymounthComponent">Reservation daily</a></li>       
                            <li><a routerLink="/CountReservationMounthlyComponent">Reservation Monthly</a></li>
                            <li><a routerLink="/ChiffreAffaireDailyComponent">Case Number daily</a></li>
                            <li><a routerLink="/ChiffreAffaireMonthlyComponent">Case Number Monthly</a></li>
                               <li><a routerLink="/BeneficeMonthlyComponent">Benefice Monthly</a></li>
                            <li><a routerLink="/AverageWorksEmployerComponent">Average Works</a></li>
                            <li><a routerLink="/AverageWorksEmployerComponent">Average Works</a></li>
                            
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header-end -->

  <!-- bradcam_area_start -->
  <div class="bradcam_area breadcam_bg overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Special Offer</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- bradcam_area_end -->

  <div class="service_area" style="margin-top: -85px;">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-lg-6 col-md-10">
          <div class="section_title text-center mb-55">
            <h3>Current Offer</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <table style="margin-top: 10px;">
          <thead>
            <tr>
              <th>Services Name</th>
              <th>Description</th>
              <th>Begin Date</th>
              <th>End Date</th>
              <th>Remise</th>
            </tr>
          </thead>
            <!-- <div class="service_content text-center">
              <div class="icon">
                <i class="flaticon-barber"></i>
              </div>
              <h3>{{service.description}}</h3>
              <p><strong> Begining Date :</strong> {{service.dateDebut | date:'EEEE dd MMMM yyyy'}} </p>
              <p><strong> End Date :</strong> {{service.dateFin | date:'EEEE dd MMMM yyyy'}} </p>
              <p><strong> Services : </strong> {{service.nomService }}  </p>
              <p> <strong> pourcentageRemise: </strong> {{service.pourcentageRemise }} % </p>
            </div> -->

            <tbody>
              <tr  *ngFor="let service of dataSource">
                <td>{{service.nomService }}</td>
                <td>{{service.description}}</td>
                <td>{{service.dateDebut | date:'EEEE dd MMMM yyyy'}}</td>
                <td>{{service.dateFin | date:'EEEE dd MMMM yyyy'}}</td>
                <td>{{service.pourcentageRemise }} % </td>
                <td><button style="background-color: rgb(249, 245, 125);" (click)="onSubmitNotify(service)">Notify</button></td>
              </tr>
            </tbody>

        </table>
      </div>
    </div>
  </div>


  <div class="make_apppointment_area" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section_title pl-68">
            <h3>Create new Offre</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="appoint_ment_form pl-68">
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
              <div class="single_field">
                <label for="description">Description</label>
                <input id="description" type="text" formControlName="description">
              </div>
              <div class="single_field">
                <label for="dateDebut">Begin Date</label>
                <input id="dateDebut" type="date" formControlName="dateDebut">
              </div>
              <div class="single_field">
                <label for="dateFin">End Date</label>
                <input id="dateFin" type="date" formControlName="dateFin">
              </div>
              <div class="single_field">
                <label for="idService">Services</label>
                <select id="idService" formControlName="idService">
                  <option value="" disabled selected>Select a Service</option>
                  <option *ngFor="let service of servicesList" [value]="service._idService">
                    {{ service.description }}
                  </option>
                </select>
              </div>
              <div class="single_field">

                <label for="pourcentageRemise">pourcentageRemise</label>
                <input id="pourcentageRemise" type="number" formControlName="pourcentageRemise">
              </div>
              <div class="form_btn">
                <button class="boxed-btn3" type="submit">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <form id="test-form" class="white-popup-block mfp-hide" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <label for="nom">Nom</label>
    <input id="nom" type="text" formControlName="nom">

    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">

    <label for="mdp">Mot de passe</label>
    <input id="mdp" type="password" formControlName="mdp">

    <label for="pdp">Profil</label>
    <input id="pdp" type="text" formControlName="pdp">

    <label for="horaireDebut">Horaire de début</label>
    <input id="horaireDebut" type="text" formControlName="horaireDebut">

    <label for="horaireFin">Horaire de fin</label>
    <input id="horaireFin" type="text" formControlName="horaireFin">

    <button type="submit">Créer l'employé</button>
  </form> -->


</body>

</html>
