<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
    <meta name="description" content="Beauty Salon - provide the easy responsive free website templates. You can easily customize and make your own website for your startup business.">
    <meta name="keywords" content="bootstrap template, Responsive Template, Website Template, free website templates, free website template download ">
    <link href="../../../../assets/client/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../assets/client/css/style.css">
    <link rel="stylesheet" href="../../../../assets/client/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../assets/client/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../../../../assets/client/css/animsition.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7cLibre+Baskerville:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="logo">
                        <a href="#"><img src="../../../../assets/client/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="call-block">
                                <h3 class="call-no">+261 20 22 120 10</h3>
                                <p class="call-text">Pour plus d'informations</p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="time-block">
                                <h3 class="time">Lun-Sam : 07h-19h</h3>
                                <p class="call-text">Heure d'ouverture</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="time-block">
                                <h3 class="time"><i class='fa fa-circle' style='font-size: 12px; color:#31A24C'></i>&nbsp;{{ client.nom }}</h3>
                                <p class="call-text">{{ client.email }}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="top-btn"> <a routerLink="/client_booking" class="btn btn-default">Rendez-vous en ligne</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navigation -->
    <div class="navigation-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="navigation" id="navigation">
                        <ul>
                            <li class="active"><a routerLink="/client_homepage" class="animsition-link">Homepage</a>
                            </li>
                            <li class="active"><a routerLink="/client_special_offers" class="animsition-link">Offres
                                    speciales</a></li>
                            <li class="active"><a routerLink="/client_booking" class="animsition-link">Reservation</a>
                            </li>
                            <li class="active"><a routerLink="/client_appointment_history" class="animsition-link">Historique des rendez-vous</a></li>
                            <li class="active"><a routerLink="/client_preference" class="animsition-link">Preferences</a></li>
                            <li class="active"><a routerLink="/client_logout" class="animsition-link">Deconnexion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-section">
        <!-- navigation -->
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="hero-caption">
                        <h1 class="hero-title">Vous recherchez un salon de beauté professionnel ?</h1>
                        <p class="hero-text">Beauty salon vous propose une large gamme de services de beauté comme le visage, la coiffure, l'épilation, le maquillage, etc. Le salon de beauté vous propose une large gamme de services de beauté comme le visage, la coiffure,
                            l'épilation, le maquillage, etc.</p>
                        <a href="#" class="btn btn-default">Voir les services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="section-title">
                        <h1 class="heading-line">Nos prestations</h1>
                        <p class="mb40">Soyez la meilleure version de vous-même. Chez Beauty Salon, nous sommes convaincus que la beauté est unique et personnelle. C'est pourquoi nous vous proposons une large gamme de prestations sur-mesure, adaptées à vos besoins et
                            envies
                        </p>
                    </div>
                </div>
                <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="service-block mb60 outline">
                                <div class="service-caption pinside40">
                                    <h2 class="service-title"><a href="service-list.html" class="title">Soin du
                                            visage</a></h2>
                                    <p class="mb40">Offrez à votre peau un éclat naturel et durable grâce à nos soins du visage personnalisés</p>
                                    <a href="#" class="btn-link">Voir plus</a>
                                </div>
                                <div class="service-img"> <img src="../../../../assets/client/images/service-1.jpg" class="img-responsive" alt=""> </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="service-block mb60 outline">
                                <div class="service-caption pinside40">
                                    <h2 class="service-title"><a href="service-list.html" class="title">Maquillage</a>
                                    </h2>
                                    <p class="mb40">Du look naturel au maquillage de soirée, nos artistes subliment votre visage pour toutes les occasions</p>
                                    <a href="service-list.html" class="btn-link">Voir plus</a>
                                </div>
                                <div class="service-img"> <img src="../../../../assets/client/images/service-2.jpg" class="img-responsive" alt=""> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="about-img"><img src="../../../../assets/client/images/about-img.jpg" class="img-responsive" alt=""></div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="about-info mb40 bg-light pinside30">
                                <div class="section-title">
                                    <h1>Bienvenue chez Beauty Salon</h1>
                                </div>
                                <p>Chers clients, Au nom de toute l'équipe, je vous souhaite la bienvenue dans notre univers de beauté et de bien-être. Chez Beauty Salon, nous sommes convaincus que la beauté est unique et personnelle. C'est pourquoi nous
                                    vous proposons une large gamme de prestations sur-mesure, adaptées à vos besoins et envies. Nos équipes d'experts sont à votre écoute pour vous accompagner et vous sublimer. Que vous soyez à la recherche d'un soin du
                                    visage expert pour révéler l'éclat de votre peau ou d'un maquillage professionnel pour une occasion spéciale, nous mettrons tout en œuvre pour vous satisfaire. Nous sommes heureux de vous accueillir dans notre salon
                                    et nous vous invitons à découvrir nos différentes prestations. N'hésitez pas à nous contacter pour prendre rendez-vous et profiter d'un diagnostic personnalisé. Cordialement

                                </p>
                                <div class="text-right"><a href="#" class="btn-link">Voir plus</a></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pdl40">
                                <h4 class="about-name mb10">- Aurelia Fanomezana <span class="about-meta">( CEO )</span>
                                </h4>
                                <div class="about-sign"><img src="../../../../assets/client/images/about-sign.png" class="img-responsive" alt=""> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                    <div class="mt20">
                        <div class="section-title">
                            <h1 class="heading-line">Avis de nos clients</h1>
                            <p class="mb40">La satisfaction de nos clients est notre priorité. C'est pourquoi nous sommes fiers de partager avec vous les avis de nos clients satisfaits</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offest-1 col-lg-8 col-md-offset-1 col-md-8 col-sm-12 col-xs-12">
                    <div id="testimonial" class="testimonial">
                        <div class="testimonial-block pinside40 outline bg-white mb30">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="testimonial-content"> <span class="quote-left">“</span>
                                        <h1 class="testimonial-title">Salon Professionnel</h1>
                                        <div class="testimonial-text">
                                            <p>“C'est un salon très professionnel avec d'excellents résultats, ce personnel travaille dur pour rendre chaque visite magnifique, j'attends et j'apprécie ma visite.”</p>
                                        </div>
                                        <h3 class="testimonial-name">- Sitraka</h3>
                                        <h6 class="testimonial-meta">Cliente</h6>
                                    </div>
                                </div>
                                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                                    <div class="testimonial-img"><img src="../../../../assets/client/images/testimonial-1.jpg" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block pinside40 outline bg-white mb30">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="testimonial-content"><span class="quote-left">“</span>
                                        <h1 class="testimonial-title">Traitement fantastique</h1>
                                        <div class="testimonial-text">
                                            <p>“Non seulement vous bénéficiez d’un traitement fantastique, mais vous êtes également valorisé et pris en charge. Le meilleur salon de beauté que je connaisse, je suis heureux de le recommander à tout le monde”</p>
                                        </div>
                                        <h3 class="testimonial-name">- Isabella</h3>
                                        <h6 class="testimonial-meta">Cliente</h6>
                                    </div>
                                </div>
                                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1  col-md-4 col-sm-5 col-xs-12">
                                    <div class="testimonial-img"><img src="../../../../assets/client/images/testimonial-2.jpg" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="footer-widget bg-white pinside30 mb30 ">
                        <div class="logo mb30 ">
                            <a href="images/logo.png "><img src="../../../../assets/client/images/logo.png " class="img-responsive " alt=" "></a>
                        </div>
                        <p class="mb30">Bien plus qu'un salon, une parenthèse de bien-être et de beauté</p>
                        <div class="footer-social "><a href="# "><i class="fa fa-twitter "></i></a><a href="# "><i
                                    class="fa fa-facebook "></i></a><a href="# "><i class="fa fa-google-plus "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget footer-contact ">
                        <h2 class="footer-title ">Contact</h2>
                        <ul class="listnone ">
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-phone "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="call-no "><a href="contact.html ">+261 20 22 120 10</a></h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-envelope-o "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="mail-text "><a href="contact.html ">beautysalon&#64;gmail.com</a>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row ">
                                    <div class="col-md-2 "><i class="fa fa-clock-o "></i></div>
                                    <div class="col-md-10 ">
                                        <h4 class="time-text "><a href="contact.html ">Mon-Sam : 07h-19h</a></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget ">
                        <h2 class="footer-title ">Liens rapides</h2>
                        <ul class="listnone ">
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_homepage">Homepage</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_special_offers">Offres speciales</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_booking">Reservation</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_appointment_history">Historique
                                    des rendez-vous</a></li>
                            <li><i class="fa fa-caret-right "></i><a routerLink="/client_preference">Preferences</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tiny-footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Team: <a href="#">RAKOTOARISOA Jean
                        Etienne</a> | <a href="#">RANARIVELO Hubert Hery Nantenaina</a></div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <script src="../../../../assets/client/js/jquery.min.js "></script>
    <script src="../../../../assets/client/js/bootstrap.min.js "></script>
    <script src="../../../../assets/client/js/menumaker.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/jquery.sticky.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/sticky-header.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/animsition.js "></script>
    <script type="text/javascript " src="../../../../assets/client/js/animsition-script.js "></script>
    <script src="../../../../assets/client/js/back-to-top.js " type="text/javascript "></script>
</body>

</html>