<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body>
    <h3>Client - Homepage</h3>
    <p>{{ client.nom }}</p>
    <p>{{ client.email }}</p>
    <img src='{{ client.pdp }}' alt="..." width="100px">
    <p>{{ client.telephone }}</p>
    <hr/>
    <h2>Date d'aujourd'hui : {{ today | date:'medium' }}</h2>
    <h3>Offres speciales</h3>
    <ul>
        <li *ngFor="let special_offer of special_offers_notifications">
            {{ special_offer.offreSpeciale.dateDebut | date:'medium' }} {{ special_offer.offreSpeciale.dateFin | date:'medium' }} {{ special_offer.offreSpeciale.description }} | {{ special_offer.service.commission }} {{ special_offer.service.description }} -{{ special_offer.offreSpeciale.pourcentageRemise
            * 100 }}% {{ special_offer.service.prix }} {{ special_offer.service.prix * (1 - special_offer.offreSpeciale.pourcentageRemise) }}
        </li>
    </ul>

    <a routerLink="/client_booking">Reservation</a>&nbsp;<a routerLink="/client_appointment_history">Historique des rendez-vous</a>&nbsp;<a routerLink="/client_logout">Deconnecter</a>
    <router-outlet></router-outlet>
</body>

</html>