<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Barber</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

  <!-- header-start -->
  <header>
    <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3">
              <div class="logo-img">
                <a href="index.html">
                  <img src="assets/employe/img/logo.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9">
              <div class="menu_wrap d-none d-lg-block">
                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                  <div class="main-menu">
                    <nav>
                      <ul id="navigation">
                        <li><a routerLink="/all_rdv_for_me">home </a></li>
                        <li><a href="#"> Profil <i class="ti-angle-down"></i></a>
                          <ul class="submenu">
                            <!-- <li><a routerLink="/ManageprofilComponent">Manage </a></li> -->
                            <li><a routerLink="/TaskDoneDailyComponent">daily Works</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header-end -->

  <!-- bradcam_area_start -->
  <div class="bradcam_area breadcam_bg overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Appointment's Details</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- bradcam_area_end -->

  <div class="service_area">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-lg-6 col-md-10">
          <div class="section_title text-center mb-55">
            <h3>Details</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6" *ngFor="let rdv of rdvServices; let i = index">
          <div class="single_service">
            <div class="service_thumb">

              <img [src]="rdv.Photo" class="profile-pic">
            </div>
            <div class="service_content text-center">
              <div class="icon">
                <i class="flaticon-barber"></i>
              </div>
              <h3>{{rdv.serviceDescription}}</h3>
              <p><strong>Normal price : </strong> {{rdv.prixNormal}} Ar</p>
              <p><strong> Price after remise : </strong> {{rdv.prixApresRemise}} Ar </p>
              <p> <strong> Commission : </strong>{{rdv.montantCommission}} Ar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- form itself end-->
  <form id="test-form" class="white-popup-block mfp-hide">
    <div class="popup_box ">
      <div class="popup_inner">
        <h3>Make an Appointment</h3>
        <form action="#">
          <div class="row">
            <div class="col-xl-6 col-md-6">
              <input id="datepicker" placeholder="Date">
            </div>
            <div class="col-xl-6 col-md-6">
              <input id="timepicker" placeholder="time">
            </div>
            <div class="col-xl-6 col-md-6">
              <select class="form-select wide" id="default-select" class="">
                <option data-display="Choose services">Choose services 1</option>
                <option value="1">Choose services 2</option>
                <option value="2">Choose services 3</option>
                <option value="3">Choose services 4</option>
              </select>
            </div>
            <div class="col-xl-6 col-md-6">
              <select class="form-select wide" id="default-select" class="">
                <option data-display="Choose Barbers">Choose Barbers</option>
                <option value="1">Zaki</option>
                <option value="2">Ronky</option>
                <option value="3">kalu</option>
              </select>
            </div>
            <div class="col-xl-6 col-md-6">
              <input type="text" placeholder="Your name">
            </div>
            <div class="col-xl-6 col-md-6">
              <input type="text" placeholder="Phone no">
            </div>
            <div class="col-xl-12">
              <input type="email" placeholder="Your email">
            </div>
            <div class="col-xl-12">
              <button type="submit" class="boxed-btn3">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </form>
  <!-- form itself end -->
</body>

</html>